# Byte-code caches
__pycache__/
*.py[cod]

# Virtual-env folders
*/.venv/
*/venv/
orientation_processor_env/

# OS clutter
.DS_Store

# Large data you don’t need in history
stage1/stage1_input/
stage2/stage1_json/
stage2/plots/
